*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}
.button, .modal_anchor{
    display: block;
    width: max-content;
    margin: 0 auto;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    cursor: pointer;
}
.modal{
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    background-color: black;
    transition: opacity .3s;
    pointer-events: unset;
    opacity: 0;
}
.hide_modal{
    pointer-events: unset;
    opacity: 1;
}
.modal_container{
    border-radius: 10px;
    position: relative;
    display: grid;
    gap: 1rem;
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}
