*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    transition: transform 1s;
    text-align: center;
}
#title{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 6px solid #ff5e00;
}
.show{
    transform: scale(1);
}
.hide{
    transform: scale(0);
}
#showHide, #bgColor{
    width: 90%;
    max-width: 1200px;
    background-color: rebeccapurple;
    border: 2px solid #ff5e00;
    border-radius: 10px;
    padding: 2rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50%;
    place-content: center;
    gap: 1rem;
    margin-top: 10px;
    transition: transform 1s;
}
button{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: wheat;
    padding: 1rem 2rem;
    border: 2px solid #ff5e00;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    filter: blur(1px);
}
button:active{
    filter: blur(0px);
    border-color: rgba(0, 0, 0, 1);
    text-shadow:0 0 10px black;
    box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,1);
}